*{
    font-family: 'Ubuntu', sans-serif;
}
.bg{
    background-image: url("../../assets/images/composition-24.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    /* background-color: white; */
}
.box div{
    text-align: center;
    width: 400px;
    height: 75vh;
    padding: 50px;
    background-color:white;
    border-radius: 20px;
    opacity: 0.96;
}
.logo{
    height: 50%;
    margin: 0;
    padding: 0;
}
.title{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1%;
}
.description{
    margin: 10px;
    margin-bottom: 30px;
    color: #4d4d4d;
}
.welcome{
    color: #4d4d4d;
    margin-top: -25px;
    margin-bottom: 15px;
    font-size: 1.2rem;    
    font-weight: 500;
}
.signup{
    height: 40px;
}
.register{    
    margin-left: 10px;
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: none;
}
.signin{
    margin: 10px;
    margin-top: 20px;
    color: #4d4d4d;
    font-weight: 500;
}
.signin a{
    text-decoration: none;
    color:black
}
.mobileImage{
    display:none;
}

@media only screen and (max-width: 500px){
    .bg {
        background-color: white;
    }
    .box{
        max-height: 100vh;
        max-width: 100vw;
        margin: 0;
        padding: 0;
    }
    .logo{
        height: 40%;
        margin-top: -5%;
    }
    .box div{
        width: 500px;
        padding: 0;
        margin: 0;
    }
    .mobileImage{
        display: inline-block;
        height: 100px;
        position: absolute;
        height: 30%;
        left: 0;
        right: 0;
        margin: auto;
        top: 68%;
    }
}