*{
    font-family: 'Ubuntu', sans-serif;
}
.bg{
    background-image: url("../../assets/images/composition-24.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    /* background-color: white; */
}
.box div{
    text-align: center;
    width: 400px;
    height: 75vh;
    padding: 50px;
    background-color:white;
    border-radius: 20px;
    opacity: 0.96;
}
.logo{
    height: 50%;
    margin: 0;
    padding: 0;
}
.title{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 3rem;
    margin-top: 15%;
    margin-bottom: 20px;
}
.description{
    margin: 10px;
    margin-bottom: 30px;
    color: #4d4d4d;
}
.signup{
    height: 40px;
}
.register{    
    margin-left: 10px;
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: none;
}
.signin{
    margin: 10px;
    margin-top: 20px;
    color: #4d4d4d;
    font-weight: 500;
}
.signin a{
    text-decoration: none;
    color:black
}