body{
    font-family: 'Ubuntu', sans-serif;
}
.sign-up__bg{
    background-image: url("../../assets/images/composition-24.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.sign-up__box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    /* background-color: white; */
}
.sign-up__box > div:first-child{
    text-align: center;
    width: 400px;
    height: 75vh;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
    opacity: 0.96;
}
.sign-up__box-logo{
    height: 50%;
    margin: 0;
    padding: 0;
}
.sign-up__box-title{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1%;
}
.sign-up__box-description{
    margin: 10px;
    margin-bottom: 30px;
    color: #4d4d4d;
}
.sign-up__box-join{
    color: #4d4d4d;
    font-size: 1.2rem;    
    font-weight: 500;
    margin-top: 5px;
}
.sign-up__box-welcome{
    color: #4d4d4d;
    margin-top: -25px;
    margin-bottom: 30px;
    font-size: 1.2rem;    
    font-weight: 500;
}
.sign-up__box-google{
    margin-top: -15px;
    color: black;
}
/* .sign-up__box-signup{
    height: 40px;
}
.sign-up__box-signup-register{    
    margin-left: 10px;
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: none;
} */
.sign-up__box-signin{
    margin: 10px;
    margin-top: 20px;
    color: #4d4d4d;
    font-weight: 500;
}
.sign-up__box-signin a{
    text-decoration: none;
    color:black
}
.sign-up__box-mobileImage{
    display:none;
}

@media only screen and (max-width: 500px){
    .sign-up__bg {
        background-color: white;
    }
    .sign-up__box{
        max-height: 100vh;
        max-width: 100vw;
        margin: 0;
        padding: 0;
    }
    .sign-up__box-logo{
        height: 40%;
        margin-top: -5%;
    }
    .sign-up__box > div:first-child{
        width: 500px;
        padding: 0;
        margin: 0;
    }
    .sign-up__box-mobileImage{
        display: inline-block;
        height: 250px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 70%;
    }
}
