.tictactoe{
    background-image: url("../../../assets/images/pattern.jpg");
    background-size: 500px;
    background-repeat: repeat;
    height: 100%;
}
.tictactoe__heading{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    color: #fff;
    padding: 1% 0% 0% 2%;
}
.tictactoe__button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.tictactoe__button-btn {
    background: #8400ff;
    background-image: -webkit-linear-gradient(top, #8400ff, #a131bd);
    background-image: -moz-linear-gradient(top, #8400ff, #a131bd);
    background-image: -ms-linear-gradient(top, #8400ff, #a131bd);
    background-image: -o-linear-gradient(top, #8400ff, #a131bd);
    background-image: linear-gradient(to bottom, #8400ff, #a131bd);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    margin: 0.5rem;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 7px 14px 7px 14px;
    text-decoration: none;
    cursor: pointer;
    opacity: var(--opacity);
  }
  
  .tictactoe__button-btn:hover {
    background: #4417e8;
    background-image: -webkit-linear-gradient(top, #4417e8, #9a39f5);
    background-image: -moz-linear-gradient(top, #4417e8, #9a39f5);
    background-image: -ms-linear-gradient(top, #4417e8, #9a39f5);
    background-image: -o-linear-gradient(top, #4417e8, #9a39f5);
    background-image: linear-gradient(to bottom, #4417e8, #9a39f5);
    text-decoration: none;
  }
.tictactoe__wrapper{
    margin: auto;
    margin-top: 10px;
    padding-bottom: 100px;
    width: 306px;
    display: grid;
    grid-gap: 3px;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
}
.tictactoe__wrapper-element{
    text-align: center;
    font-size: 5rem;
    background-image: radial-gradient(circle, #0dd2f5, #0d4bf5);
    color: #ffffff;
    opacity: 0.9;
    cursor: pointer;

    /* unselectable */

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tictactoe__wrapper-element:hover{
    opacity: 1.0;
    background-image: radial-gradient(circle, #0d4bf5, #0dd2f5);
}