.ComicCard {
    width: fit-content;
    height: fit-content;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    margin: 2% 1%;
    padding-top: 1%;
    border-radius: 10px !important;
}

.ComicCard__heading {
    width: 50%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    display: inline-block;
}

.ComicCard__buttons {
    width: 50%;
    display: inline-block;
    text-align: justify;
    font-size: x-large;
}

.ComicCard__buttons button {
    color: black !important;
    border-color: black;
}

.ComicCard__buttons button a {
    text-decoration: none;
    color: black;
}

.ComicCard__card-image {
    height: 150px;
}

@media only screen and (max-width: 992px) {
    .ComicCard__card-image {
        width: 100%;
        height: 100%;
    }
}