.news-list__container {
    margin-right: 0;
}

.news-list__genre {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.news-list__genre > li {
    display: none;
}

.news-list__genre > li:first-child {
    display: flex;
}

.news-list__genre::-webkit-scrollbar {
    display: none;
}

.news-list__genre-item {
    margin: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.2);
}

.news-list__genre-item.active {
    transform: scale(1.4);
    border: 0.2rem solid red;
}

.news-list__genre-item:hover {
    transform: scale(1.4);
}

#move-to-top {
    position: fixed;
    bottom: 10%;
    right: 3%;
    display: flex;
    justify-content: center;
    transform: translateX(1000px);
    transition: ease-out 1s !important;
}

#move-to-top button {
    border-radius: 50px;
    background-color: black;
    color: white;
    opacity: 0.8;
    padding: 10px;
}

.showBtn {
    transform: translateX(0px) !important;
    transition: ease-in 1s !important;
}

.move-to-top button:hover {
    border: 0.1rem solid black;
    background-color: white;
    color: black;
}

@media only screen and (min-width: 993px) {
    .news-list__container {
        margin-top: 0;
    }

    .news-list__genre {
        justify-content: center;
    }

    .news-list__genre-item {
        margin: 2rem;
        transform: scale(1.4);
    }

    .news-list__genre-item.active {
        transform: scale(1.6);
        border: 0.2rem solid red;
    }

    .news-list__genre-item:hover {
        transform: scale(1.6);
    }
}
