.SingleComic {
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
}

.SingleComic div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.SingleComic__heading {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 5% 0;
    width: 100%;
}

.SingleComic__ComicCard {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
}

.SingleComic__ComicCard p {
    margin-top: 4%;
}

.SingleComic__btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.SingleComic button {
    border: solid 1px black;
}

.SingleComic button a {
    text-decoration: none;
    color: black;
}