.top-nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: #ffffff;
    border-bottom: 2px solid black;
    height: 30px;
}

.top-nav__header a {
    text-decoration: none;
    color: black;
}

.top-nav__image {
    height: 5rem;
    cursor: pointer;
}

.top-nav__search {
    display: flex;
    align-items: center;
    background: #f8f9fa;
    padding: 0.2rem 0.6rem;
    border-radius: 20px;
    border: 0.1em solid #777777;
}

.top-nav__search input {
    margin: 0 0.5rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    background-color: #f8f9fa;
}

.top-nav__links {
    list-style: none;
}

.top-nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.top-nav__links li a {
    transition: all 0.3s ease 0s;
}

.top-nav__links li a:hover {
    transition: all 0.3s ease 0s;
    color: #666666;
}

.top-nav__links-icons {
    transform: translate(-4px, 4px);
}

.top-nav__settings {
    background-color: #943c0b !important;
    cursor: pointer;
}

.top-nav__settings-menu {
    z-index: 10 !important;
    right: 100px !important;    
}

.top-nav__settings-menu a, .top-nav__games-menu a{
    text-decoration: none;
    color: inherit;
}

.top-nav__settings-menu-item {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: space-evenly !important;
    margin-top: -8px !important;
    margin-bottom: -8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

@media only screen and (max-width: 992px) {
    .top-nav__header {
        display: none !important;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1077px) {
    .top-nav__links {
        display: flex;
        justify-content: right;
    }
    .top-nav__links li {
        padding: 0px 5px !important;
    }
}
