.top-nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: #ffffff;
    border-bottom: 2px solid black;
    height: 30px;
}

.top-nav__header a {
    text-decoration: none;
    color: black;
}

.top-nav__image {
    height: 5rem;
    cursor: pointer;
}

.top-nav__search form {
    display: flex;
    align-items: center;
    background: #f8f9fa;
    padding: 0.2rem 0.6rem;
    border-radius: 20px;
    border: 0.1em solid #777777;
    justify-content: space-between;
}

.top-nav__search input {
    margin: 0 0.5rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    background-color: #f8f9fa;
    width: 70%;
}

.top-nav__search-load {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
}

.top-nav__search-loader {
    width: 3rem !important;
    animation: spin 2s linear infinite;
    margin: auto;
}

.top-nav__search-results {
    position: absolute;
    z-index: 1000 !important;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 1px 1px 8px grey;
    max-height: 60vh;
    overflow-y: scroll;
    padding: 1% 5%;
    border-radius: 10px;
}

.top-nav__search-results a{
    text-decoration: none;
    color: rgb(54, 54, 54);
}


.top-nav__search-results-info {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.top-nav__search-results-info > p {
    background-color: #943c0b;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.top-nav__search-results-info .top-nav__search-results-positivity {
    background-color: #34BE82;
}

.top-nav__search-results-source {
    height: 26px !important;
    width: 26px !important;
}

.top-nav__search-results hr {
    border: 1px solid grey;
}

.top-nav__search-results::-webkit-scrollbar {
    display: none;
}

.top-nav__search-results h3 {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

.top-nav__search-results-item-image{
    height: 80px;
    min-width: 100px;
    max-width: 100px;
    margin-right: 10px;
}

.top-nav__links {
    list-style: none;
    display: flex;
    align-items: center;
}

.top-nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.top-nav__links li a {
    transition: all 0.3s ease 0s;
}

.top-nav__links li a:hover {
    transition: all 0.3s ease 0s;
    color: #666666;
}

.top-nav__links-icons {
    transform: translate(-4px, 4px);
}

.top-nav__settings {
    cursor: pointer;
    overflow: hidden;
    width: 40px !important;
    height: 40px !important;
}

.top-nav__settings img{
    width: 100%;
}

.top-nav__settings-menu {
    z-index: 10 !important;
    right: 100px !important;    
}

.top-nav__settings-menu a, .top-nav__games-menu a{
    text-decoration: none;
    color: inherit;
}

.top-nav__settings-menu-item {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: space-evenly !important;
    margin-top: -8px !important;
    margin-bottom: -8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

#SignUp__btn {
    border: 0.1em solid black !important;
    background-color: black;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    gap: 5px;
}

#SignUp_btn a {
    color: white !important;
}

#SignUp__icon {
    font-size: x-large;
    color: white !important;
}

@media only screen and (max-width: 992px) {
    .top-nav__header {
        display: none !important;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1077px) {
    .top-nav__links {
        display: flex;
        justify-content: right;
    }
    .top-nav__links li {
        padding: 0px 5px !important;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}