.newsCard {
    margin: 20px;
    display: inline-block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.card__genre {
    display: inline;
    text-align: center;
    font-size: 0.8rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 0.3rem;
}

.news-list__link {
    text-decoration: none;
}

.card__date{
    font-size: 1rem;
    color: #666666;
    margin-right: 0.5rem;
}

@media only screen and (max-width: 500px) {
    .newsCard {
        display: flex;
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
        margin: 0;
    }
}
