@media only screen and (min-width: 993px) {
    .BottomNav {
        display: none !important;
    }
}

@media only screen and (max-width: 992px) {
    .BottomNav {
        display: flex;
        justify-content: center;
        margin-top: 60px !important;
    }

    #BottomNav__search-backdrop {
        animation: search-backdrop 0.2s ease-in;
        position: fixed !important;
        top: 0 !important;
        width: 100%;
        background-color: black !important;
        height: 100% !important;
        opacity: 0.5;
    }

    .BottomNav__search {
        display: none;
    }

    .BottomNav__search-active {
        animation: search-appear 0.2s ease-in;
        top: 0;
        position: fixed;
        display: inherit;
        margin-top: 5%;
        display: flex;
        align-items: center;
        background: #f8f9fa;
        padding: 0.5rem;
        justify-content: center;
        border: 0.1em solid black;
        max-width: 90%;
        transition: ease-in 1s;
        border-radius: 20px;
        flex-wrap: wrap;
    }

    .BottomNav__search-active input {
        margin: 0 0.5rem;
        border: none;
        outline: none;
        padding: 0.5rem;
        background-color: #f8f9fa;
    }

    .BottomNav__nav {
        border-top: 2px solid black;
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        color: black;
        background-color: white;
        justify-content: space-evenly !important;
        padding: 1%;
        height: 60px !important;
    }

    .BottomNav__nav-item {
        color: black !important;
        display: flex;
        flex-wrap: wrap;
        width: 25%;
    }

    .BottomNav__nav-item-icon {
        width: 100%;
        font-size: large;
    }

    .BottomNav__nav-item-text {
        width: 100%;
        font-size: 0.75em;
    }

    .BottomNav__nav-item-active {
        color: #943c0b;
    }

    .Bottom__nav-item-link {
        text-decoration: none;
        color: inherit;
    }

    .BottomNav__settings-menu .MuiMenu-paper {
        width: 200px !important;
        height: fit-content !important;
    }

    .BottomNav__settings-menu-item {
        display: flex !important;
        flex-wrap: nowrap !important;
        justify-content: space-evenly !important;
    }

    .BottomNav__search-results {
        border-radius: 10px;
        max-height: 50vh;
        overflow-y: scroll;
    }

    .BottomNav__search-results h3 {
        width: 100%;
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold;
        margin-top: 10px;
    }

    .BottomNav__search-results hr {
        border: 1px solid grey;
    }

    .BottomNav__search-results a {
        text-decoration: none;
        color: black;
    }

    .BottomNav__search_results-item {
        border-bottom: 0.1em solid black;
    }

    .BottomNav__search_results-item img {
        width: 20%;
        height: 50px;
        margin: 0;
        margin-right: 10px;
    }

    .BottomNav__search_results-item p {
        width: fit-content;
        background-color: #943c0b;
        color: white;
        padding: 5px;
        border-radius: 5px;
    }
}

@keyframes search-backdrop {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes search-appear {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
